:root {
  --logo-green: #1aa260;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

body {
  margin: 0px;
  width: min(100%, 1920px) !important;
}

.text {
  font-family: Comfortaa;
  color: white;
}

.logo {
  font-family: Comfortaa;
  font-size: 64px;
  line-height: 100%;
  color: var(--logo-green);
  border-width: 5px;
  border-radius: 15px;
  border-style: solid;
  border-color: var(--logo-green);
  padding: 0.5% 0.2% 0% 0.2%;
}

#quadContentContainer {
  padding: 5px;
}

.card {
  margin: 5px;
}
